@using IotShipmentProject.Entity.Concrete
@using IotShipmentProject.MvcUI.Models.ViewModels
@model ShipmentModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-section">
    <div class="container-liquid">
        <div class="row">
            <div class="col-xs-12">
                <div class="sec-box">
                    <a class="closethis"></a>
                    <header>
                        <h2 class="heading">Silme İşlemini Onayla</h2>
                    </header>
                    <div class="contents">
                        <a class="togglethis"></a>
                        <div class="table-box">
                            <form action="/Shipments/Delete" method="post">
                                <input type="hidden" name="Id" id="Id" value="@Model.Shipment.Id" />
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="col-md-4">Açıklama</th>
                                            <th class="col-md-8">Değer</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-4">Araç</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    <select class="form-control" name="IotCarId" id="IotCarId">
                                                        <option selected="selected" value="@Model.IotCars.FirstOrDefault(i => i.Id == Model.Shipment.IotCarId).Id">@Model.IotCars.FirstOrDefault(i => i.Id == Model.Shipment.IotCarId).Brand</option>
                                                        @foreach (IotCar iotCar in Model.IotCars.Where(i => i.Id != Model.Shipment.IotCarId))
                                                        {
                                                            <option value="@iotCar.Id">@iotCar.Brand</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Şoför</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    <select class="form-control" name="DriverId" id="DriverId">
                                                        <option selected="selected" value="@Model.Drivers.FirstOrDefault(d => d.Id == Model.Shipment.DriverId).Id">@Model.Drivers.FirstOrDefault(d => d.Id == Model.Shipment.DriverId).Name</option>
                                                        @foreach (Driver driver in Model.Drivers.Where(d => d.Id != Model.Shipment.DriverId))
                                                        {
                                                            <option value="@driver.Id">@driver.Name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Başlangıç Noktası</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.Shipment.StartPoint, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Bitiş Noktası</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.Shipment.EndPoint, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Taşınacak Ürün</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    @Html.EditorFor(model => model.Shipment.Product, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">Sevkiyat Durumu</td>
                                            <td class="col-md-8">
                                                <div class="form-group has-success">
                                                    <select class="form-control" name="Shipment.ShipmentState" id="Shipment_ShipmentState">
                                                        @foreach (ShipmentState state in Model.ShipmentStates)
                                                        {
                                                            <option>@state</option>
                                                        }
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4">İşlemler</td>
                                            <td class="col-md-8">
                                                <div>
                                                    <input type="submit" value="Sil" class="btn btn-danger style2" style="margin-right: 10px; width: 200px;" />
                                                    @Html.ActionLink("Geri Dön", "Index", null, new { @class = "btn btn-info style2", style = "width: 200px" })
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>